<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">Propella Events</a>
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <ng-container>
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active">Register</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" routerLink="admit" routerLinkActive="active">Attendance</a>
          </li>
          <li class="align-items-center">
            <h3 class=" align-center">This site is still under construction.</h3>
          </li>
        </ng-container>
      </ul>


    </div>
</nav>
