<div class="page">
  <div class="card">
    <h3>Enter your Email to register</h3>
    <form #registerForm="ngForm" (ngSubmit)="register(modalTemplate)" autocomplete="off">
      <input name="email"
      [(ngModel)]="model.email"
      class="form-control me-2 mb-2"
      type="text"
      placeholder="Email">

      <button class="btn btn-outline-dark d-block mx-auto">Submit</button>
    </form>
  </div>


  <ng-template #modalTemplate role="document" let-modal>
    <div class="modal d-flex align-items-center">
      <div class="modal-dialog custom-modal-dialog-style" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title mx-auto">Thank you Registering!</h4>
          </div>
          <div class="modal-body text-center">
            <p class="modal-text">We can't wait to see you! Please keep your code safe and present it at the door when you arrive!'<br/></p>
            <h2>{{ code }}</h2>
            <p>With love from Propella!</p>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type="button" class="btn btn-outline-dark align-center" (click)="closePopup()">Close</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
